.default-shadow {
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.15);
}
body {
  box-sizing: border-box;
  padding: 2em;
  padding-top: .5em;
}
body .bg-image {
  opacity: .15;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  background-image: url("/img/maps/map_bw.gif");
  background-position: center center;
  background-repeat: no-repeat;
}
body .about {
  background-color: white;
  border: 1px lightgray solid;
  border-radius: 3px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 20em;
  bottom: 0px;
  right: 0px;
  margin-right: 2em;
  margin-bottom: 2em;
  padding: 1.5em;
}
body .about .expanded-content {
  display: none;
}
body .about .compressed-content {
  display: block;
}
body .about.expanded {
  width: 30em;
  left: 50%;
  margin-left: -17em;
  margin-right: 0em;
}
body .about.expanded .compressed-content {
  display: none;
}
body .about.expanded .expanded-content {
  display: block;
}
.passphrase-submitter {
  left: 25%;
  width: 50%;
  position: relative;
  padding: 2em;
  background-color: white;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.pb-pic-view {
  display: inline-block;
  position: relative;
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 150px;
}
.pb-pic-view img {
  position: absolute;
  display: block;
}
.info-display {
  font-sinze: .75em;
  color: white;
  list-style: none;
}
.axis path,
.axis line {
  fill: none;
  stroke: lightgray;
  shape-rendering: crispEdges;
}
.main.group {
  fill: red;
}
.axis text {
  font-family: serif;
  font-size: 11px;
}
.chart {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px lightgray solid;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.15);
}
.scatter-dot {
  fill: steelblue;
  stroke: black;
}
.selection-rect {
  fill: rgba(0, 0, 255, 0.25);
  stroke: rgba(0, 0, 0, 0.5);
}
.axis.yaxis path {
  stroke: lightgray;
}
