.content{
  .chart-container{
    float:left;
    margin-right:1.5em;
    }



  input.place{
    display: inline;
    position: relative;
    height: 2.25em;
    vertical-align: text-top;
    }
  .nodisplay{
    display:none;
    
    }
  .selection-header{
    display:inline-block;
    min-width:150px;
    max-width:250px;
    position:relative;
    .selection-info-container{
      position:relative;
      display:block;
      }
    .selection-labeller-container{
      position:relative;
      display:block;
      }
    }

  }