.content{
  .chart-container{
    float:left;
    }



  input.place{
    display: inline;
    position: relative;
    height: 2.25em;
    vertical-align: text-top;
    }
  .nodisplay{
    display:none;
    }
}