.pb-pic-view{
  display:inline-block;
  position:relative;
  margin:1em;
  border:1px solid rgba(0, 0, 0, .1);
  
  
  width:150px;
  height:150px;

  img{
    position:absolute;
    display:block;
    
    }
  }

.info-display{
  font-sinze:.75em;
  color:white;
  list-style:none;
  }