.pb-pic-view{
  display:inline-block;
  position:relative;
  margin:1em;
  border:1px solid rgba(0, 0, 0, .1);
  vertical-align:middle;
  img{
    position:relative;
    display:block;
    
    }
  ul.info{
    position:relative;
    display:block;
    margin-left:0px;
    .info-display{
      max-width:150px;
      overflow:hidden;
      text-overflow:ellipsis;
      font-size:.75em;
      color:black;
      list-style:none;
      }
    }
  .close-container{
    position:absolute;
    right:0px;
    top:0px;
    margin-right:-1.5em;
    margin-top:-2em;
    border-radius:3px;
    text-size:1.5em;
    text-shadow:@boxShadowWeak;
    .close{
    }
    }

  }




.steps-container{

  width:600px;
  position:relative;
  display:block;

  left:50%;
  margin-left:-300px;
  margin-top:2.5em;

  .steps-above{
    text-align:left;
    a{
      float:right;
      margin-left:1.5em;
      }
    }
.steps{
  box-sizing:border-box;

   border: 1px solid lightgray;
  background-color:transparent;
  box-shadow:@boxShadowWeak;
  
  padding:1.5em;
  li{
    background-color:transparent;
    
    }
  li:not(:hover){
    .steps-item-content{
      opacity:.3;
      }
    }


  .alert{
    margin:2em;
    .title{
      font-weight:bold;
      text-align:center;
      }
    }
  }
}

.s1-content{
  display:inline;
}
.s2-content{
  display:none;
  }
.state-two{
  .s1-content{
    display:none;
    }
  .s2-content{
    display:inline;
    }
}
