body{
  .bg-image{
    opacity:.25;
    height:100%;
    width:100%;
    position:absolute;
    background-image:url("/img/maps/map_bw.gif");
    background-position:center center;
    background-repeat: no-repeat;
    
    }
}