body{
  box-sizing:border-box;
  padding:2em;
  padding-top:.5em;
  .bg-image{
    opacity:.15;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    position:absolute;
    background-image:url("/img/maps/map_bw.gif");
    background-position:center center;
    background-repeat: no-repeat;
    
    }
  .about{
    background-color:white;
    border:1px lightgray solid;
    border-radius:3px;
    @boxShadowWeak: 3px 3px 5px 0px rgba(0, 0, 0, .1);
    box-shadow: @boxShadowWeak;

    position:fixed;
    width: 20em;
    bottom:0px;
    right:0px;
    
    margin-right:2em;
    margin-bottom:2em;
    padding:1.5em;

    .expanded-content{
      display:none;
      }
    .compressed-content{
      display:block;
      }
    }

  .about.expanded{
    width:30em;
    left:50%;
    margin-left:-17em;
    margin-right:0em;
    .compressed-content{
      display:none;
      }
    .expanded-content{
      display:block;
      }
    }
  }


.passphrase-submitter{
  left:25%;
  width:50%;
  position:relative;

  padding:2em;
  background-color:white;
  border-radius:8px;
  border:1px solid lightgray;
  }